<div class="card p-3">
	<img src="{{ p.mainPicture }}" class="img-fluid" alt="Image produit">
	<div class="card_body">
		<h4 class="card-title">{{ p.name }}
			({{ p.price / 100 }}
			&euro;)</h4>
		<span class="badge bg-danger">
			{{ p.category.name }}
		</span>
		<p class="card-text">{{ p.shortDescription}}</p>
		<a href="{{ path('product_show', { 'category_slug': p.category.slug, 'slug': p.slug}) }}" class="btn btn-primary btn-sm">Détail produit</a>
		<a href="{{ path('cart_add', {'id': p.id}) }}" class="btn btn-success btn-sm">Ajouter</a>
	</div>
</div>
