<h1>Message du Contact : {{contact.firstname}} {{contact.lastname }}</h1>

<h2>Détails du contact :</h2>

<ul>
    <li>Email  : {{contact.email }} </li>
    <li>Téléphone : {{contact.phone }}</li>
    <li>Message : {{contact.message }}</li>
</ul>